@import "https://api.fontshare.com/v2/css?f[]=clash-display@700,500,600,400,300&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-size: 14px;
    font-family: "Clash Display", sans-serif;
    letter-spacing: theme("letterSpacing.wider");
    font-weight: theme("fontWeight.medium");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
